server {
    listen       ${NGINX_PORT};
    
    server_name  MySite;

    location / {
        proxy_pass http://frontend:${FRONTEND_PORT}/;
    }

    location /Contacts {
        proxy_pass http://backend:${BACKEND_PORT}/Contacts/;
    }
}