.card__name{
    font-size: large;
    font-weight: bolder;
}


.load{
    text-align: center;
}

.contact__modal > *{
    margin: 5px;
}
.set_error{
    color: rgb(255, 0, 0);
    display: none;
}
.card_public{
    background-color: rgb(21, 255, 21);
    padding:  5px 10px 5px 10px;
    border-radius: 20px;
}