.ContentHome{
    justify-content: center;
    display: flex;
    flex-grow: 1;
}

.Content{
    margin: auto;
    text-align: center;
}

.title{
    font-size: larger;
    font-weight: bolder;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1042px;
    padding: 20px;
}

.technology{
    margin: 10px;

}

.textImage{
    font-weight: bolder;
    color: rgb(50, 50, 50);
}

.sdsd{
    color: rgb(48, 27, 231);
}